<% if require_quantity > actual_quantity %>
    <span class="badge badge-danger badge-pill"><%= actual_quantity %> / <%= require_quantity %></span>
<% else %>
    <span class="badge badge-success badge-pill"><%= actual_quantity %> / <%= require_quantity %></span>
<% end %>