<div id="create-chief-action">
    <p>You haven't any chief attached to your account, do you want to create one?</p>
    <%= link_to 'Create a new chief', create_chief_path, method: :post, class: 'btn btn-success' %>
</div>