<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
    <li class="breadcrumb-item active">Buildings</li>
</ol>

<h1>Buildings</h1>

<div class="list-group">
    <% @buildings.each do |building| %>
        <a class="list-group-item" href="<%= buildings_show_path building.main.name %>">
            <%= building.name %>
        </a>
    <% end %>
</div>